@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h1>Add a course for @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")

  <input type="submit" value="Add" />
}

<p>@Html.ActionLink("Back to Student List", "Index")</p>