@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;

<h2>Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(model => model.EnrollmentDate)</h4>

@if (@Model.DepartmentId == null)
{
  <h4>Department: Undecided</h4>
}
else
{
  <h4>Department: @Html.DisplayFor(model => model.Department.Name)</h4>
}

@if (@Model.JoinEntities.Count == 0)
{
  <p>This student has not yet enrolled in any classes.</p>
}
else
{
  <h4>Courses the student has enrolled in:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>
        @join.Course.Number
        | @join.Course.Name
        | @using (Html.BeginForm("DeleteCourse", "Students"))
        {
          @Html.Hidden("joinId", @join.CourseStudentId)
          <input type="submit" value="Delete" />
        }
      </li>
    }
  </ul>
}

<p>@Html.ActionLink("Add course", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to student list", "Index")</p>
<p>@Html.ActionLink("Edit student entry", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete student entry", "Delete", new { id = Model.StudentId })</p>