@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;

<h2>Edit</h2>

<h4>Student: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  <br>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to student list", "Index")</p>