@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course;

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Name, new {@class="form-control"})

  @Html.LabelFor(model => model.Number, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Number, new {@class="form-control"})

  @Html.LabelFor(model => model.Credits, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Credits, new {@class="form-control", type="number"})

  @Html.LabelFor(model => model.StartDate, new {@class="form-label"})
  @Html.TextBoxFor(model => model.StartDate, new {@class="form-control", type="date"})

  @Html.LabelFor(model => model.EndDate, new {@class="form-label"})
  @Html.TextBoxFor(model => model.EndDate, new {@class="form-control", type="date"})

  @Html.Label("Department")
  @Html.DropDownList("DepartmentId")
  <br>

  <input type="submit" value="Add new course" class="btn btn-outline-primary" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p>